---
BasedOnStyle: WebKit
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
ColumnLimit: '100'
...

